.logo{
    height: 150px;
    border: 2px solid #762f0b;
    margin-bottom: 10px;
      display: flex;               /* bật flexbox */
  justify-content: center;     /* căn giữa ngang */
  align-items: center;         /* căn giữa dọc */
}
/* nút chức năng */
.Function{
     height: 320px;
    border: 2px solid #762f0b;
      margin-bottom: 10px;
      padding: 10px;
     
       display: flex;
      
  flex-direction: column;
   /* 🟠 Căn giữa theo chiều dọc */
  align-items: center;  
}

.btn {
  background: linear-gradient(to bottom, #b36b4e, #a3543a); /* màu cam nâu đậm nhạt */
  color: #fff;
   color: #fff;
  
  width: 150px;         /* 🔸 Chiều ngang full theo khung chứa */
  height: 40px;  
      /* 🔸 Chiều cao của nút */

}

.btn:hover {
  background: linear-gradient(to bottom, #c57756, #b05b3e);
}


/* hàng nút cuối cùng */
.footer {
  height: 120px;
  border: 2px solid #762f0b;
  display: flex;
  flex-direction: column;     /* sắp xếp theo chiều dọc */
  justify-content: center;
  align-items: center;
  gap: 15px;                  /* khoảng cách giữa 2 hàng */
  /* margin-top: 20px; */
}

/* Hàng nút trên */
.modeRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modeBtn {
  padding: 8px 10px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  color: #333;
  transition: all 0.2s ease;
}

.modeBtn:hover {
  background-color: #f2f2f2;
}

.modeBtn.active {
  background: #762f0b;
  color: #fff;
  border: none;
}

/* Hàng nút tròn dưới */
.controlRow {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.circleBtn {
  width: 35px;              /* 👈 chiều rộng */
  height: 35px;             /* 👈 chiều cao bằng width để thành hình tròn */
  border-radius: 50%;       /* 👈 bo tròn hoàn toàn */
  
  display: flex;            /* 👈 căn icon hoặc text ra giữa */
  align-items: center;
  justify-content: center;

  background-color: #fff;
  color: #000;
  cursor: pointer;
   /* tuỳ chọn: viền */
  transition: background-color 0.2s ease;
}

.circleBtn:hover {
  background-color: #f2f2f2;
}
