

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem; /* thay var(--mantine-spacing-xl) */
  padding-bottom: 2rem;

  /* Media query CSS chuẩn */
  @media (max-width: 576px) { /* thay cho $mantine-breakpoint-xs */
    flex-direction: column;
  }
}

.links {
  @media (max-width: 576px) { /* thay cho $mantine-breakpoint-xs */
    margin-top: 1rem; /* thay var(--mantine-spacing-md) */
  }
}
