.root {
  display: block;          /* Đảm bảo là block container */
  max-width: 1500px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex: 1;

  @media only screen and (max-width: 1024px) {
    max-width: 100%;
    padding: 0 10px;
  }

  @media only screen and (max-width: 800px) {
    max-width: 100%;
    padding: 0 5px;
  }

  @media only screen and (max-width: 500px) {
    max-width: 100%;
    padding: 0;
  }
}

