.Box {
  /* max-width: 1000px;
  margin-left: auto;
  margin-right: auto; */
  /* padding: 2rem 1rem; */
  /* margin-top: 100px; */
}

.searchSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .searchSection {
    flex-direction: row;
  }
}

.input {
  max-width: 20rem;
}

.inputGrow {
  flex: 1;
}

.cardGrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: var(--mantine-radius-md);
  border-top-right-radius: var(--mantine-radius-md);
  display: block;
}

.baseButton {
  width: 80%;
  border-radius: var(--mantine-radius-md);
  margin: var(--mantine-spacing-md) auto;
  font-weight: 600;
  line-height: 1.6;
  font-size: 18px;
  background-color: white;
  color: #228be6;
  text-align: center;
  display: block;
}

.primaryButton {
  background-color: #ffbe00;
  color: #762f0b;
}

.primaryButton:hover {
  background-color: #bb8d38;
}

.disabledButton {
  background-color: #f1f3f5;
  color: #adb5bd;
  cursor: not-allowed;
  border: none;
}
@media (max-width: 768px) {
  .Box {
    padding-left: 10px;
    padding-right: 10px;
  }
}